@import "../../../styles/mixins.scss";
@import "../../../styles/colors";

.table {
	border-spacing: 0px;
	color: black;
	font-size: 1.2rem;
	tr > * {
		border: 1.5px solid $clr-logo-main;
		background-color: rgba(255, 255, 255, 0.3);
	}

	td,
	th,
	tr {
		min-width: 400px;

		@include mobile {
			min-width: 50px;
			max-width: 300px;
		}

		min-height: 50px;
	}
	thead {
		font-size: 1.5rem;
		th {
			padding: 0.75rem 100px;

			@include mobile {
				padding: 0.75rem 50px;
			}
		}
	}
	tbody {
		td {
			padding: 0.5rem;
		}
	}

	a {
		&:hover {
			background: $grd-accents;
			-webkit-background-clip: text;
			background-clip: text;

			-webkit-text-fill-color: transparent;
		}
	}
}
