@use "@/styles/colors" as *;
@use "@/styles/mixins" as *;

.cookieBanner {
  position: fixed;
  z-index: 200;
  bottom: 0;
  left: 0;
  right: 0;
  left: 2rem;
  bottom: 2rem;
  width: 100%;
  max-width: 28rem;

  @include mobile {
    left: 0rem;
    bottom: 0rem;
  }

  transition:
    transform 0.7s ease,
    opacity 0.7s ease;

  &.closed {
    transform: translateY(2rem);
    opacity: 0;
  }

  &.hidden {
    display: none;
  }

  .cookieBannerContent {
    background: white;
    border-radius: 8px;
    margin: 0.75rem;
    border: 1px solid $border;

    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 15px;
  }

  .cookieBannerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid $border;
    height: 3.5rem;
  }

  .cookieBannerBody {
    padding: 1rem;
    text-align: start;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }

  .cookieBannerFooter {
    padding: 1rem;
    display: flex;
    gap: 0.5rem;
    border-top: 1px solid $border;
  }

  .cookieBannerTitle {
    font-size: 1.25rem;
    font-weight: 500;
  }

  .cookieBannerButtons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .cookieIcon {
    width: 1.2rem;
    height: 1.2rem;
  }

  .cookieAcceptButton,
  .cookieDeclineButton {
    width: 100%;
  }

  .cookieAcceptButton {
    background: $grd-main;
    display: inline-flex;
    height: 2.25rem;
    width: 100%;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    white-space: nowrap;
    border-radius: 0.375rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    outline: 2px solid transparent;
    outline-offset: 2px;
    color: #fff;

    height: 2.25rem;

    width: 100%;
    border: none;

    border-radius: 12px;

    &:hover {
      opacity: 0.9;
      cursor: pointer;
    }
  }

  .cookieDeclineButton {
    background-color: $secondary;
    display: inline-flex;
    height: 2.25rem;
    width: 100%;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    white-space: nowrap;
    border-radius: 0.375rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    outline: 2px solid transparent;
    outline-offset: 2px;

    height: 2.25rem;

    width: 100%;

    border-radius: 12px;
    border: none;
    &:hover {
      opacity: 0.9;
      cursor: pointer;
    }
  }

  .cookieLink {
    font-size: 0.75rem;
    text-decoration: underline;
  }

  .smallCookieBanner {
    .cookieBannerHeader {
      flex-direction: column;
      justify-content: center;
    }

    .cookieBannerBody {
      text-align: start;
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: 400;
    }
  }
}
