.selectMenu {
  flex-grow: 1;
  width: 220px;
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 10px;
  margin-top: 10px;
  color: black;
  position: relative;

  &.active .options {
    display: block;
  }
}

.selectBtn {
  background-color: red;
  width: 100%;
  flex-grow: 2;
  padding: 0.5rem;
  font-size: 0.9rem;
  border: none;
  box-shadow: 0 4px 0px -3px #ccc;
  box-sizing: border-box;
  transition: ease-in-out 0.4s;
  cursor: pointer;

  &:focus-within {
    box-shadow: 0 4px 0px -2px hsl(0, 63%, 44%);
  }
}

.options {
  width: 100%;
  position: absolute;
  top: 50px;
  padding: 20px;
  margin-top: 10px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  display: none;

  .option {
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;

    &:hover {
      background: #f2f2f2;
    }
  }
}
