/* Dropdown Header Styles */

.dropdownHeader {
  display: flex;
  align-items: center;
  gap: 3px;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500;
  cursor: pointer;
}

.wrapper {
  position: absolute;
  top: calc(100% + 0.25rem);
}

/* Dropdown Box Styles */
.dropdownBox {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column; /* Updated to column layout for better alignment */
  padding: 10px;
  cursor: pointer;
  background-color: #333;
  color: white;
}

/* Dropdown Item Styles */
.item {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  height: 52px;
  padding: 0 20px; /* Adjusted padding */
  cursor: pointer;
  color: #89939e;
  &:hover {
    background-color: #2a2f35;
  }
}

/* Bold Text Styles */
.bold {
  font-weight: bold; /* Updated to use font-weight for bold text */
  color: #fff;
}
