/* Dropdown Header Styles */
@import "../../styles/mixins.scss";

.wrapper {
  position: relative;
  padding: 1rem;

  @include mobile {
    padding: 0;
  }
}

.dropdownHeader {
  display: flex;
  align-items: center;
  gap: 3px;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500;
  cursor: pointer;

  @include mobile {
    margin: 15px 0;
  }
}

/* Dropdown Box Styles */
.dropdownBox {
  display: none; /* Use visibility instead of display */
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: calc(100%);
  z-index: 1000;
  border-radius: 10px;

  cursor: pointer;

  box-shadow: rgba(#666, 0.2) 0px 0px 20px 5px;
  transition: opacity 0.4s, visibility 0s 0.4s; /* Add a delay for visibility */

  ul {
    background-color: #fff;
    color: #ccc;
    border-radius: 10px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    padding: 5px;
  }

  @include mobile {
    box-shadow: none;
    position: relative;
  }
}

.active {
  opacity: 1;
  pointer-events: initial;
  visibility: visible; /* Make the dropdown visible when active */
  display: block;
}

/* Dropdown Item Styles */
.item {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  height: 52px;
  padding: 0 20px;
  padding-right: 40px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.2s;
  outline: transparent;
  color: #000;
  line-height: calc(1rem + 8px);

  a {
    width: 100%;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0px;
      height: 2px;
      width: 0;
      background: #d3277c;
      transition: width 250ms;
    }

    &:hover,
    &:active {
      &::after {
        width: 100%;
      }
    }
  }

  * {
    transition: 0.2s !important;
  }
}

/* Bold Text Styles */
.bold {
  font-weight: bold;
  color: #fff;
}
