@use "@/styles/colors" as *;

.formWrapper {
  max-width: 500px;
  margin: auto;
}

.label {
  text-align: left;
  visibility: visible;
  display: block;
  opacity: 1;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 20px;
  transition:
    transform 0.5s ease,
    opacity 0.5s;
  position: relative;

  span {
    flex-grow: 1;
    padding-left: 0.5rem;
    margin-bottom: 0.25rem;
  }

  input {
    color: black;
    width: 100%;
    margin-bottom: 1.125rem;
    padding: 1rem 0.75rem;
    outline: 2px solid transparent;
    background-color: transparent;
    font-size: 1rem;
    border-radius: 10px;
    border: 2px solid rgb(209 213 219);
    transition: outline 0.5s ease;

    &:focus {
      outline: 2px solid #d3277c;
    }
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s;
    -webkit-text-fill-color: #000 !important;
  }
}

.dropdown {
  margin-bottom: calc(20px + 1.125rem);
}

.button {
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 1.5rem 0.75rem;
  width: 100%;
  color: white;
  border-radius: 10px;
  font-size: 1rem;
  box-shadow: none;
  outline: none;
  border: none;
  transition: transform 0.3s ease;
  background: transparent;
  z-index: 1;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
    z-index: -2;
  }

  /* Default background */
  &::before {
    background-image: $grd-main;
    opacity: 1;
    z-index: -1;
  }

  /* Success gradient (hidden by default) */
  &::after {
    background-image: linear-gradient(
      to right,
      rgba(5, 133, 27, 1),
      rgba(87, 199, 133, 1)
    );
    opacity: 0;
  }

  /* Show success state */
  &.success {
    &::before {
      opacity: 0;
    }
    &::after {
      opacity: 1;
    }
  }

  /* Error gradient override */
  &.errorButton {
    &::before {
      opacity: 0;
    }
    &::after {
      background-image: linear-gradient(
        to right,
        rgba(199, 43, 43, 1),
        rgba(255, 119, 119, 1)
      );
      opacity: 1;
    }
  }

  &:hover {
    transform: scale(1.025);
  }
}

.error {
  text-transform: none;
  color: red;
  font-size: 0.7rem;
  position: absolute;
  bottom: -3px;
  left: 0;
}

.errorSendingMessage {
  color: red;
  font-size: 0.7rem;
  margin-top: 1rem;
}

.dropdownError {
  @extend .error;
  bottom: -22px;
}

.errorOutline {
  outline: 2px solid red !important;
}

.capWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
