@use "@/styles/colors" as *;
@use "@/styles/mixins" as *;

.container {
  width: 100%;
  max-width: 1240px;
  margin: auto;
  padding: 0 12px;
  box-sizing: border-box;
  @include mobile {
    padding: 0 24px;
  }
}
