@import "../../../styles/mixins.scss";
@import "../../../styles/_colors.scss";

.wrapper {
  position: relative;
  background-color: #fff;
  height: fit-content;
  @include mobile {
    height: fit-content;
  }
}

.formContainer {
  position: relative;
  margin: auto;
  padding: 35px;
  padding-bottom: 45px;
  width: 100%;
  box-shadow: rgba(196, 197, 198, 0.4) 0px 13px 72px 15px;
  margin-top: -80px;

  z-index: 10;
  background-color: #fff;
}

.form {
  color: #000;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;

  .inputsContainer {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    > * {
      max-width: 250px;
      min-width: 200px;
    }
  }
}

.label {
  visibility: visible;
  display: block;
  opacity: 1;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 10px;
  margin-top: 10px;
  transition: transform 0.5s ease, opacity 0.5s;
  position: initial;
}

.hidden {
  position: absolute;
  transform: scaleY(0);
  opacity: 0;
}

.label span {
  flex-grow: 1;
  padding-left: 0.5rem;
}

.label input {
  width: 100%;
  flex-grow: 2;
  padding: 0.5rem;
  font-size: 0.9rem;
  border: none;
  box-shadow: 0 4px 0px -3px #ccc;
  box-sizing: border-box;
  transition: ease-in-out 0.4s;
}

.label input:focus-within {
  box-shadow: 0 4px 0px -2px $clr-logo-main;
}

.label input::placeholder {
  color: #ccc;
}

.label input:focus {
  outline: none;
}

.button {
  text-transform: uppercase;
  top: calc(100% - 30px);
  position: absolute;
  background-image: $grd-main;
  border-radius: 12px;
  padding: 25px 100px;

  color: #fff;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  transition: 0.5s;
  background-size: 100% auto;
  border: none;
  box-shadow: rgba(196, 197, 198, 0.4) 0px 13px 72px 15px;

  &:hover {
    font-size: 0.95rem;
    background-position: right center; /* change the direction of the change here */
    padding: 27px 102px;
    color: #fff;
    text-decoration: none;
  }
}

@media (min-width: 1024px) {
  .form {
    flex-direction: row;
  }
}
