$clr-logo-black: #1d1d1b;
$clr-logo-white: #fff;
$clr-white-unactive: #a0a0a0;
$clr-logo-main: #d3277c;
$clr-logo-main-hsl: hsla(330, 60%, 50%, 0.3);
$grd-main: linear-gradient(to right, hsla(339, 100%, 50%, 1) 40%, #d3277c 100%);
$grd-accents: linear-gradient(to right, #7c0a12 0%, #d3277c 70%, #d3277c 100%);

$grd-accents-2: linear-gradient(
  315deg,
  hsla(353, 77%, 22%, 1) 0%,
  hsla(330, 60%, 50%, 1) 35%,
  hsla(339, 100%, 50%, 1) 100%
);

$grd-accents-radial: radial-gradient(
  circle,
  hsla(330, 60%, 50%, 1) 46%,
  hsla(339, 100%, 50%, 1) 100%
);

$background: hsl(330, 0%, 95%);
$foreground: hsl(330, 0%, 0%);
$card: hsl(330, 0%, 90%);
$card-foreground: hsl(330, 0%, 10%);
$popover: hsl(330, 0%, 95%);
$popover-foreground: hsl(330, 95%, 0%);
$primary: hsl(330, 68.8%, 49%);
$primary-foreground: hsl(0, 0%, 100%);
$secondary: hsl(330, 10%, 70%);
$secondary-foreground: hsl(0, 0%, 0%);
$muted: hsl(292, 10%, 85%);
$muted-foreground: hsl(330, 0%, 35%);
$accent: hsl(292, 10%, 80%);
$accent-foreground: hsl(330, 0%, 10%);
$destructive: red;
$destructive-foreground: hsl(330, 0%, 90%);
$border: hsl(330, 20%, 50%);
$input: hsl(330, 20%, 18%);
$ring: hsl(330, 68.8%, 49%);
$radius: 0.5rem;
$sidebar: hsl(330, 0%, 95%);
