@font-face {
  font-family: "Montserrat";
  src: url("../../public/assets/fonts/montserratsemibold-8m8pb-webfont.woff2")
      format("woff2"),
    url("../../public/assets/fonts/montserratsemibold-8m8pb-webfont.woff")
      format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/assets/fonts/montserratmedium-lgz6e-webfont.woff2")
      format("woff2"),
    url("../../public/assets/fonts/montserratmedium-lgz6e-webfont.woff")
      format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/assets/fonts/montserratregular-rpk6l-webfont.woff2")
      format("woff2"),
    url("../../public/assets/fonts/montserratregular-rpk6l-webfont.woff")
      format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/assets/fonts/montserratbold-p781r-webfont.woff2")
      format("woff2"),
    url("../../public/assets/fonts/montserratbold-p781r-webfont.woff")
      format("woff");
  font-weight: 600;
}
