@use "@/styles/colors" as *;
@use "@/styles/mixins" as *;

.hero {
  width: 100%;
  height: 60vh;
  overflow: hidden;

  .image {
    object-fit: cover;
    width: 100% !important;
    height: 100%;
    margin: auto;
  }
}

.title {
  margin: 6rem auto;
  text-align: center;
  padding: 0 20%;

  @include mobile {
    padding: 0;
  }

  h1 {
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 500;

    background: $grd-accents;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    margin-bottom: 5rem;
  }
}

.textContent {
  font-size: 1rem;
  text-align: center;

  * {
    margin: 2rem 0;
    line-height: 2.25rem;
    letter-spacing: 1px;
    font-weight: 500;
  }

  .whiteSpace {
    display: block;
    content: "";
    height: 2rem;
  }

  .big {
    font-size: 1.3rem;
    font-weight: 500;
  }
}

.processSection {
  padding: 3rem 0;
  background-color: rgb(56, 56, 59);
  color: #fff;
  text-align: center;
  height: 500px;
}

.videoSection {
  padding: 3rem 0;
  background-color: rgb(56, 56, 59);
  color: #000;
  text-align: center;
  height: fit-content;

  h2 {
    font-size: 1.5rem;
    color: #fff;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .wrapper {
    margin: auto;
    width: 60%;

    @include mobile {
      width: 70%;
    }
  }
}

.formWrapper {
  padding: 5rem 15rem;
  text-align: center;
  h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;

    background: $grd-accents;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @include mobile {
    padding: 5rem 0;
  }
}
