@import "../../../styles/mixins.scss";

.hero::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.hero::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-image: url("../../../../public/assets/images/hero.jpeg");
  background-size: cover;
  background-position: center top;

  animation: zoom-in-animation 30s infinite alternate;

  @keyframes zoom-in-animation {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.2); /* Adjust scale factor as needed */
    }
  }
}

.heroWrapper {
  height: calc(100vh - 80px);
  min-height: 700px;
  overflow: hidden;
}

.hero {
  position: relative;
  height: 100%;

  color: #fff;
  z-index: 0;
  padding-left: 1.25rem; /* 20px */
  padding-right: 1.25rem; /* 20px */
  margin-left: auto; /* 20px */
  margin-right: auto; /* 20px */
}

main .flexContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.textContent {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  text-align: center;
  place-items: center;
}

.textContent h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: white;

  @include mobile {
    font-size: 2rem;
  }
}

.textContent p {
  font-size: 2rem;
  margin-top: 1.5rem;
  padding: 0 15%;

  @include mobile {
    font-size: 1.2rem;
    line-height: 2rem;
    padding: 0;
  }
}
