@import "../styles/mixins.scss";
@import "../styles/fonts";

:root {
  --gradient-main: linear-gradient(61deg, rgba(92, 9, 9, 1) 40%, #d3277c 100%);
}

body,
button,
input,
textarea,
select {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.restore-spacing * {
  padding: unset;
  margin: unset;
}

html,
body {
  max-width: 100%;
  color: #000;
  background-color: #fff;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}
