@import "../styles/mixins.scss";
@import "../styles/_colors.scss";

.containter {
  width: 100%;
  height: 60vh;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.title {
  font-size: 3rem;
  color: black;
  font-weight: 700;
  background: $grd-accents;
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
  margin-bottom: 1rem;
}

.information {
}
