@use "@/styles/colors" as *;
@use "@/styles/mixins" as *;

.moving {
  padding: 5px 200px;
  background-color: #fff !important;
  box-shadow: 0px 0px 1px #000;

  .hamburgerWrapper {
    > div > * {
      background-color: #fff;
    }
  }
}

.headerWrapper {
  //position: fixed;

  width: 100%;
  z-index: 900;
}

.header {
  transition: 0.6s;
  padding: 20px 0;
  //z-index: 1000;
  background-color: #fff;
  //box-shadow: 0px 0px 1px #000;

  * {
    color: #000;
  }

  nav {
    * path {
      stroke: #000 !important;
    }
  }

  .headerContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: left;
      align-items: flex-start;
    }
  }

  .mobileContainer {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    @include mobile {
      width: 100%;
    }
  }

  .logo {
    max-height: 50px;
    position: relative;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    margin: auto 0;
    transition: 0.6s;

    > * {
      position: relative;
      z-index: 901;

      width: 70%;
    }
  }

  ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul li {
    position: relative;
    list-style: none;
  }

  > * {
    transition: 0.6s;
  }
}

.hamburgerWrapper {
  display: none;
  @include mobile {
    display: initial;
  }
}
