@import "../../styles/mixins.scss";

.navbar {
  position: relative;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  @include mobile {
    margin-top: 2rem;
    display: none;

    ul {
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: flex-start !important;
      justify-content: left;
    }
  }
}

.mobileOpen {
  display: block;
}

.menuItem {
  position: relative;
  display: flex;
  align-items: center;
  gap: 3px;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500;
  cursor: pointer;

  position: relative;
  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 0;
    background: #d3277c;
    transition: width 250ms;
  }

  &:hover,
  &:active {
    &::after {
      width: 100%;
    }
  }

  @include mobile {
    margin: 15px 0;
  }
}
