@use "@/styles/colors" as *;
@use "@/styles/mixins" as *;

.footer {
  color: white;
  background: var(--gradient-main);
  padding: 40px 0 200px 0;
}

.logo {
  width: 100%;
  margin-bottom: 20px;

  svg {
    position: relative;
    top: -20px !important;
    left: -30px;
    width: 300px;
  }
}

.flexGroup {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 100px;

  @include mobile {
    flex-direction: column;
  }

  > div {
    flex-grow: 1;
  }

  .menuItem {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: -5px;
      height: 2px;
      width: 0;
      background: #fff;
      transition: width 250ms;
    }

    &:hover,
    &:active {
      &::after {
        width: 100%;
      }
    }
  }

  .item,
  .item a {
    min-width: 150px;
    height: 30px;
    display: flex;
    align-items: flex-start;
    line-height: 30px;
    text-align: left;
    svg {
      display: inline;
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.5rem;
    }
  }

  .item .socialIcon a {
    min-width: 10px;
  }
}

.summary {
  flex-grow: 2;
  color: #fff;
  text-align: left;

  span {
    display: block;
  }

  .question {
    font-size: 1.5rem;
    text-transform: capitalize;
    margin-bottom: 12px;
    font-weight: 500;
  }

  .contact {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 90px;

    &::after {
      content: "";
      position: relative;
      top: 20px;
      display: block;
      width: 130px;
      height: 10px;
      background-color: #fff;
    }
  }

  .about {
    font-size: 1rem;
    line-height: calc(1rem + 12px);
    font-weight: 400;
  }
}

.menu {
  ul {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;

    li {
      margin-bottom: 40px;
    }
  }
}

.info {
  > * {
    margin-bottom: 40px;
  }
}

.socialIcon {
  display: flex;
  justify-content: flex-start;

  a {
    margin-right: 30px;
  }

  a svg {
    height: 50px;
    width: 100%;
    cursor: pointer;
    display: inline-block;
  }
}
